
*
{
    padding: 0;
    margin: 0;
}
body
{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-style: normal;
    
 
}
.navbar
{
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    transition: all 0.5;
}

.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
    
}
.nav-link
{
    color: #fff!important;
    font-size: 15px;
    font-weight: 400;
    font-family: paytone one,sans-serif;
    transition: all 0.5s;
   
    
}
.nav-link:hover
{
    color: #f2c64d!important;
    text-decoration:underline;
    
    
}
.nav-link:active
{
  color: #f2c64d!important;
    text-decoration:underline;  
}


.nav-icons a
{
    color: #fff!important;
    font-size: 17px;
    margin: 0 10px;
    
}
.nav-icons a:hover
{
    color: #f2c64d!important;
}
.nav-icons .btn
{
    color: #f2c64d!important;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #f2c64d;
    width: 180px;
    height: 50px;
    font-size: 16px;
    font-weight: 400;
    font-family: paytone one,sans-serif;
    transition: all 0.5s;
}
.nav-icons .btn:hover
{
     color: #fff!important;
    background-color: #f2c64d;
}
.navbar-toggler-icon
{
    color: #fff!important;
    font-size: 50px;
  
}

/* home */

#home
{
    height: 800px; 
    
}

#home .btns{
  
    position: absolute;
    top: 50%;
    z-index: 50;
    width: 100%;
}
#home .customNextBtn{
    float: right;
    background: rgba(255,255,255,.2);
    color: #fff;
    padding: 80px 30px;
    cursor: pointer;
    transition: all 0.5s;

}
#home .customPreviousBtn
{
    float: left;
    background: rgba(255,255,255,.2);
    color: #fff;
    padding: 80px 30px;
    cursor: pointer;
    transition: all 0.5s;
}
#home .customPreviousBtn:hover
{
    color: #000;
    background-color: #fff;
}
#home .customNextBtn:hover
{
     color: #000;
    background-color: #fff;  
}


#home .owl-carousel .item {
    height: 100%;
    width: 100%;
    position: relative;
    justify-content: center;
}

#home .owl-carousel .item::before
{
    content: "";
    background-color:#040e27;
    opacity: 0.5;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    
}

#home .item-caption
{
    position: absolute;
    z-index: 10;
    top: 25%;
    text-align: center;
}
#home .item-caption .title
{
    background-image: url(../images/sign.webp);
    background-size: 180px 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    padding: 18px 42px;
}
#home .item-caption .title span
{
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    font-family: paytone one,sans-serif;
    font-weight: 400;
    
}
#home .item-caption h1
{
    color: #fff;
    line-height: 1;
    font-family: paytone one,sans-serif;
    text-transform: uppercase;
    font-size: 90px;
    font-weight: 400;
    
}
#home .item-caption h2
{
    color: #f2c64d;
    font-size: 140px;
    text-transform: capitalize;
    font-family: pacifico,cursive;
    margin-top: -60px;
    font-weight: 400;
  
}

/* menu*/

#menu .section-title-menu
{
    color:#f2c64d;
   font-family: 'Pacifico', cursive;
  
    margin-bottom: 40px;
}
#menu h3
{
    font-family: montserrat,sans-serif;
    color: #1a0d01;
    font-weight: 700;
    font-size: 30px;
}
#menu h5
{
    color: #6e6e6e;
    font-size: 20px;
    font-weight: 400;
    font-family: montserrat,sans-serif;
}
#menu span
{
    font-weight: bold;
    font-size: 25px;
    color: #f0542c;
    font-family: montserrat,sans-serif;
}
#menu .btn
{
    width: 90%;
    text-align: center;
    border: 1px solid #f0542c;
    background-color: #fff;
    color: #f0542c;
    border-radius: 50px;
    text-transform: capitalize;
    margin-top: 55px;
    margin-bottom: 40px;
    font-family: montserrat,sans-serif;
    font-size: 22px;
    font-weight: 600px;
    cursor: pointer;
    padding: 10px 10px;
}

#menu .btn:hover
{
    color: #fff;
    background-color: #f0542c;
    transition: all 1s;
}
/* president*/
#president span
{
    font-size: 40px;
    font-weight: bold;
    color: #f0542c;
    font-family: montserrat,sans-serif;
    position: absolute;
    z-index:8;
    top: 85px;
    
}
#president h2
{
    color: #fff;
    font-weight: bold;
    position: absolute;
    font-family: montserrat,sans-serif;
    z-index:8;
    top: 150px;
    
}
#president p
{
    color: #e8e8e8;
    position: absolute;
    z-index:8;
    top:205px;
    font-size: 20px;
    line-height: 22px;
    
}
#president .btn-primary
{
    position: absolute;
    z-index:8;
    top: 275px;
    border-radius: 50px;
    text-transform: capitalize;
    width: 30%;
    height: 15%;
    font-family: montserrat,sans-serif;
    color: #fff;
    background-color: #f2c64d;
    border-color: #f2c64d;
    font-weight: 600;
    font-size: 20px;
}
#president .btn-primary:hover
{
    background: rgba(0, 151, 19, 0);
    color: #f2c64d;
    transition: all 0.5s;
}

#president .president-one
{
    background-image:url(../images/pres1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 380px;
    position: relative;
    cursor: pointer;
    
}

#president .president-one::after
{
    content: "";
    background-color: #1a0d01;
    opacity: 0.4;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
   
}

#president .president-two
{
    background-image:url(../images/pres2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 380;
    position: relative;
    cursor: pointer;
    
    
}
#president .president-two::after
{
     content: "";
    background-color: #1a0d01;
    opacity: 0.4;
    z-index: 1;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0; 
}
#president .president-two:hover
{
    animation-name: pulse;
    animation-delay: 0.4s;
    animation-duration: 0.9s;
    
}
#president .president-one:hover
{
    animation-name: pulse;
    animation-delay: 0.4s;
    animation-duration: 0.9s;

}
/* About */

#about .about-title
{
    color:#f2c64d;
   font-family: 'Pacifico', cursive;
   text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 40px;
    margin-top: 20px;
}
#about .best
{
    font-family: montserrat,sans-serif;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 20px;
    
}
#about p
{
    font-size: 20px;
    font-weight: 100;
    line-height: 30px;
    color: #4d4d4d;
    font-family: raleway,sans-serif;
    margin-bottom: 35px;
}


#about .first-photo
{
    position: relative;
}
#about .second-photo
{
    position: absolute;
    z-index: 2;
    top: 130px;
    right: -8px;
  
}


/* Vedio */
#vedio
{
    background-image: url(../images/video.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    position: relative;
    z-index: 0;
    text-align: center;
    margin-bottom: 80px;
    
}

#vedio::before
{
    content: "";
    background-color:#040e27;
    height: 100%;
    width: 100%;
    opacity: 0.3;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
}

 .pharagraph
{
    color: #fff!important;
    padding-top: 200px;
}
.pharagraph h1
{
    text-transform: uppercase;
    font-size: 70px;
    font-weight: 400;
    font-family: paytone one,sans-serif;
    line-height: 80px;
}
.pharagraph h3
{
    font-size: 24px;
    font-family: montserrat,sans-serif;
    font-weight: 700;
    display: block;
    margin-top: 14px;
    margin-bottom: 36px;
}
.pharagraph a
{
    background-color: #f0542c;
    color: #fff;
    border-radius: 50%;
    font-size: 30px;
    padding: 25 30;
    text-align: center;
}
/* customers */
#customers .title
{
    text-align: center;
}
#customers .title h2
{
    color: #f2c64d;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 18px;
    font-family: pacifico,cursive;

}
#customers .title h1
{
        font-size: 50px;
    font-weight: 700;
    color: #1a0d01;
    font-family: montserrat,sans-serif;
    text-transform: uppercase;
}

		#customers-testimonials p {
		        color: #040e27;
                font-weight: 400;
                font-size: 25px;
             line-height: 32px;
           font-family: 'Raleway', sans-serif;
            margin-bottom: 20px;
		}

.testimonial-name h4
{
    color: #040e27;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 6px;
    font-family: montserrat,sans-serif;
    
}
.testimonial-name .rate
{
    color: #f2c64d;
    font-size: 16px;
}
		#customers-testimonials .item {
		    text-align: center;
		    padding: 50px;
            margin-bottom:80px;
		    opacity: 1;
		    -webkit-transform: scale3d(0.8, 0.8, 1);
		    transform: scale3d(0.8, 0.8, 1);
		    -webkit-transition: all 0.3s ease-in-out;
		    -moz-transition: all 0.3s ease-in-out;
		    transition: all 0.3s ease-in-out;
		}
		#customers-testimonials .owl-item.active.center .item {
		    opacity: 1;
		    -webkit-transform: scale3d(1.0, 1.0, 1);
		    transform: scale3d(1.0, 1.0, 1);
		}
		.owl-carousel .owl-item img {
		    transform-style: preserve-3d;
		    max-width: 80px;
    		margin: 0 auto 17px;
		}


/* images */
#images .instagram
{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}
#images .instagram img
{
    vertical-align: middle;
    border-style: none;
}

#images .image-layer
{
    background-color: rgba(26,13,1,.3);
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border: 1px dashed #fff;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.5s;
}

#images .image-layer i
{
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 45%;
    left: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
}
/*
.first-image:hover .image-layer,
.first-image:active .image-layer
{
    opacity: 1;
}
*/

/* footer */
#footer
{
    background-color: #f5fbff;
    background-image: url(images/footer_bg.webp);
    background-size: cover;
    height: auto;
}
#footer h4
{
    text-transform: capitalize;
    font-family: montserrat,sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 50px;
}
#footer p
{
    color: #6e6e6e;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

}
#footer a
{
   color: #f0542c;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    font-family: montserrat,sans-serif;
    text-decoration: none;
}
#footer .form-controlb
{
    border-radius: 30px;
    border: 1px solid #e8e8e8;
    background-color: #f5fbff;
    height: 50px;
    width: 100%;
    text-transform: capitalize;
    padding-left: 20px;
    overflow: hidden;
    margin-bottom: 10px;
    
   
}
#footer .btn-primary
{
    
    border-radius: 30px;
    position: absolute;
    top: 82px;
    right: 19px;
    color: #fff;
    background-color: #f0542c;
    height: 40px;
    width: 100px;
    text-align: center;
    text-transform: capitalize;
    border: none; 
    
}

#footer  a i
{
    border: 1px dashed #f0542c;
    color: #f0542c;
    background: rgba(0, 151, 19, 0);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: 100;
    margin-right: 5px;
    text-align: center;
    padding-top: 13px;
    transition: all 0.5s;
}

#footer  a:hover i
{
    color: #fff;
    background-color: #f0542c;
    
}
#footer .rights p
{
    display: inline-block;
}


